<nav>
    <a href="/">Home</a>
    <% if (user) { %>
        <!-- because we used res.local, user is now 
         available in all views even though
          we didn't explicitly define it inside the template-->
        <a href="/users/<%= user._id%>/foods">View my Pantry</a>
        <a href="/auth/sign-out">Sign Out</a>
        <% } else { %>
            <a href="/auth/sign-in">Sign In</a>
            <a href="/auth/sign-up">Sign Up</a>
            <% } %>
        <a href="/users">Explore Our Community</a>

</nav>